
table.hotbuy {
    font-family: 'Playpen Sans', cursive;
    font-size: 4vw;
    color: white;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

#table-wrapper {
   height: 1000px;
   width: 1900px;
   padding: 0px;
   margin: 0px;
   overflow: hidden;
}

#img-wrapper {
    max-height: 600px;
    padding: 0px;
    margin: 0px;
    overflow-x: auto;
}

