body {
    background-image: url("/static/web/img/background.jpg");
}
table.menu {
    font-family: 'Playpen Sans', cursive;
    font-size: min(3.5vw, 4vw);
    color: white;
    margin: 0px;
}

#table-wrapper {
  width: 1900px;
 	height: 1060px;
	padding: 0px;
	margin: 20px 10px 0px 30px;
	overflow: auto;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
